.mineSlider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sliderStyles {
    padding-top: 95px;
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
  @media(max-width:800px){
    .sliderStyles {
      padding-top: 20px;
    }
  }
  
  .slideStyles {
    transition: opacity 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: center;
    z-index: 0;
  }
  .slideStyles::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to bottom ,rgba(0, 0, 0, 0.6) 0%,rgba(1, 1, 1, 1) 100%);
   
  }
  .slideStyles img {
    max-width: 100%;
    max-height: 100%;
  }
  .innerSl{
    position:absolute;
    z-index:20;
  }
  .innerSl h1 {
    font-size:50px;
    font-family: "Oswald" ;
    font-weight: bold;
  }
  .innerSl button{
    cursor: pointer;
    width: 180px;
    height: 40px;
    color: black;
    background-color: #fde910;
    border: none;
  }
  .innerSl button:hover {
    color: white;
    background-color: black;
  }
  @media(max-width:1100px){
    .innerSl h1 {
      font-size:35px;
    }
  }
  @media(max-width:780px){
    .innerSl h1 {
      font-size:25px;
    }
  }
  @media(max-width:700px){
    .innerSl h1 {
      font-size:20px;
    }
    .innerSl h3 {
      font-size:15px;
    }
    .innerSl {
        justify-content: center;
        align-items: center;
        width: 350px;
        margin-left: 50px;
        margin-right: 10px;
    }
    .leftArrowStyles {
      display: none;
    }
    .rightArrowStyles {
      display: none;
      top: 50%;
      transform: translate(0, -50%);
      right: 14px;
      color: white;
      z-index: 2;
      cursor: pointer;
    }
    .slideStyles img {
      height: 450px;
    }
  }
  @media(max-width:410px){
    .innerSl {
        justify-content: center;
        width: 300px;
        margin-left: 80px;
        margin-right: 10px;
    }
  }
  .leftArrowStyles {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 10px;
    color: white;
    z-index: 2;
    cursor: pointer;
  }
  .rightArrowStyles {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 14px;
    color: white;
    z-index: 2;
    cursor: pointer;
  }
  .dotsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dots {
    z-index: 2;
    margin-top: -100px;
    font-size: 80px;
    color: white;
    cursor: pointer;
  }