.ourProjects{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .ourProjects h1{
    margin-bottom: 20px;
  }
  .ourItems{
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .ourItem {
    border-radius: 5px;
    cursor: pointer;
    width: 400px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease ;
    color: white;
  }
  .ourItem:hover {
    color: #4a4a4a;
    background-color: rgb(12, 12, 12);;
    box-shadow: 0px 14px 30px rgba(0,0,0,0.1);
    transform: translateY(-7px);
  }

  .ourItem p {
    margin-top: -3px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    line-height: 17px;
  }
  .ourItem h3{
    line-height: 15px;
  }
 
  /* .ourItem h4{
    color: #4a4a4a;
  }
   */
  .ourItemImg{
    mix-blend-mode: soft-light;
  }
  .ourItem button {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 180px;
    height: 40px;
    color: black;
    background-color: white;
    border: none;
    margin-bottom: 20px;
  }
  
  .ourItem:hover button{
    cursor: pointer;
    color: black;
    background-color: #4a4a4a;;
   
  }
  .ourItem button:hover{
    cursor: pointer;
    color: white;
    background-color: black;
   
  }
  @media(max-width:500px){
    .ourItemImg{
      width: 320px;
      mix-blend-mode: soft-light;
    }
    .ourItem {
      border-radius: 5px;
      cursor: pointer;
      width: 320px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: box-shadow 0.2s ease-in-out, transform 0.2s ease ;
    }
  }