.ourServices{
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  /* .ourServices{
    font-size: 40px;
  } */
  .services{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .service{
    background-color: #111111;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 540px;
    height: 350px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .service h3 {
    font-size: 30px;
  } 
  .service p {
    font-size: 20px;
    text-align: justify;
  }
  .service:hover{
    background-color: #fde910;
    color: #000;
    
  }
  .serviceHeader{
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service:hover .serviceHeader img {
    filter: brightness(0) invert(0);
  }
  @media(max-width:3000px){
    .service{
      width: 30%;
    }
  }
  @media(max-width:2000px){
    .service{
      width: 540px;
      margin-left: 20px;
      margin-right: 20px;
     
    }
  }
  @media(max-width:650px){
    .service{
      width: 300px;
      height: 200px;
      margin-left: 15px;
      margin-right: 15px;
      padding-left: 12px;
      padding-right: 12px;
     
    }
    .service h3 {
      font-size: 20px;
    } 
    .service p {
      font-size: 13px;
      text-align: justify;
    }
  }
 