.ourServices{
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .ourServices{
    font-size: 35px;
  }
 .h1{
  font-size: 30px;
 }
 .service h3 {
  font-size: 50px;
} 
  .service{
    background-color: #111111;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px #fde910 solid;
    margin-left:100px ;
    margin-right:100px ;
  }
  .services{
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
  }
  .service p {
    font-size: 40px;
    text-align: justify;
  }
  @media(max-width:1800px){
    .services{
      display: flex;
      gap: 60px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .service{
      background-color: #111111;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      padding-top: 30px;
      padding-bottom: 20px;
      padding-left: 50px;
      padding-right: 50px;
      border: 1px #fde910 solid;
    }
    .service p {
      font-size: 22px;
      text-align: justify;
    }
  }
  @media(max-width:1500px){
    .ourServices{
      margin-top: 0px;
    }
    .service p {
      font-size: 25px;
      text-align: justify;
    }
  }
  @media(max-width:1300px){
    .service{
      margin-bottom: 0px;
    }
  }
  .service h3 {
    font-size: 25px;
  } 
  
  .service p {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  .service:hover{
    background-color: #fde910;
    color: #000;
    
  }
  .serviceHeader{
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service:hover .serviceHeader img {
    filter: brightness(0) invert(0);
  }
   /* @media(max-width:3000px){
    .service{
      width: 30%;
    }
  }
  @media(max-width:2000px){
    .service{
      width: 540px;
      margin-left: 20px;
      margin-right: 20px;
     
    }
  } */
  @media(max-width:1000px){
    .services {
      gap: 40px;
    }
    .service{
      margin-bottom: 0px;
    }
  }
  @media(max-width:750px){
    .service{
      margin-left: 15px;
      margin-right: 15px;
     
    }
    .service h3 {
      font-size: 22px;
    } 
    .service p {
      font-size: 20px;
      text-align: justify;
    }
    .ourServices{
      font-size: 20px;
    }
  }
  @media(max-width:624px){
    .service{
      margin-left: 15px;
      margin-right: 15px;
      padding-left: 30px;
      padding-right: 10px;
    }
    .service h3 {
      font-size: 18px;
    } 
    .service p {
      font-size: 17px;
      text-align: justify;
    }
    .ourServices{
      font-size: 20px;
    }
  }
  @media(max-width:490px){
    .ourServices {
      gap: 0px;
    }
    .service{
      margin-left: 5px;
      margin-right: 5px;
     
      align-items: flex-start;
    }
    .service h3 {
      text-align: start;
      font-size: 20px;
    } 
    .service p {
      margin-left: 0px;
      margin-right: 0px;
      font-size: 19px;
      text-align: start;
    }
  }