.ourServices{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1800px;
  }
  .ourServices{
    font-size: 27px;
  }
  .services{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .service{
    background-color: #111111;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 600px;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px #fde910 solid;
  }
  @media(max-width:1300px){
    .service{
      margin-bottom: 0px;
    }
  }
  .service h3 {
    font-size: 25px;
  } 
  .service p {
    font-size: 20px;
    text-align: justify;
  }
  .service p {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  .service:hover{
    background-color: #fde910;
    color: #000;
    
  }
  .serviceHeader{
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service:hover .serviceHeader img {
    filter: brightness(0) invert(0);
  }
   /* @media(max-width:3000px){
    .service{
      width: 30%;
    }
  }
  @media(max-width:2000px){
    .service{
      width: 540px;
      margin-left: 20px;
      margin-right: 20px;
     
    }
  } */
  @media(max-width:750px){
    .service{
      width: 550px;
      height: 350px;
      margin-left: 15px;
      margin-right: 15px;
     
    }
    .service h3 {
      font-size: 22px;
    } 
    .service p {
      font-size: 16px;
      text-align: justify;
    }
    .ourServices{
      font-size: 20px;
    }
  }
  @media(max-width:624px){
    .service{
      width: 350px;
      height: 450px;
      margin-left: 15px;
      margin-right: 15px;
      padding-left: 30px;
      padding-right: 10px;
    }
    .service h3 {
      font-size: 18px;
    } 
    .service p {
      font-size: 14px;
      text-align: justify;
    }
    .ourServices{
      font-size: 20px;
    }
  }
  @media(max-width:490px){
    .service{
      width: 300px;
      height: 450px;
      margin-left: 15px;
      margin-right: 15px;
    }
    .service h3 {
      font-size: 20px;
    } 
    .service p {
      font-size: 13px;
      text-align: justify;
    }
  }
