.wrapper{
  width: 100%;
  position:relative;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}
.conect{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  background-color: rgb(189, 189, 0);
  border-radius: 50%;
  z-index: 10;
}
.Cont{
  cursor: pointer;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  gap: 10px;
  z-index: 10;
}
.conect1 {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: rgb(189, 189, 0);
  border-radius: 50%;
}
.items {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100px;
  height: 190px;
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
}
@media(max-width:2000px){
  .items{
    width: 60px;
    height: 100px;
  }
  .items img {
    width: 40px;
    height: 40px;
  }
  .conect1 {
    width: 60px;
    height: 60px;
  }
  .conect img, .conect1 img {
    width: 25px;
    height: 25px;
  }

}