.wrapper {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gallery{
    gap: 20px;
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding-bottom: 20px;
   padding-top: 50px;
}
.img {
    width:1500px;
    height: 1000px;
}
.activeCont{
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: unset;
}
.activeImg {
position: fixed;
top:10%;
width:1800px;
height: 1000px;
z-index: 10000000;
}
@media(max-width:1800px) {
    .activeImg {
    position: fixed;
    top:5%;
    width:1500px;
    height: 900px;
    z-index: 10000000;
    }
    }
@media(max-width:1600px) {
.img{
    width: 100%;
    height: 700px;
}
.activeImg {
    position: fixed;
    top:3%;
    width:1300px;
    height: 700px;
    z-index: 10000000;
    }
}
@media(max-width:1300px) {
    .img{
        width: 120%;
        height: 700px;
    }
    .activeImg {
        position: fixed;
        top:20%;
        width:1000px;
        height: 700px;
        z-index: 10000000;
        }
    }
@media(max-width:1070px) {
    .img{
        width: 100%;
        height: 600px;
    }
    .activeImg {
        position: fixed;
        top:20%;
        width: 100%;
        height: 600px;
        z-index: 10000000;
        }
    }

@media(max-width:780px) {
    .img{
        height: 450px;
    }
    .activeImg {
        top:30%;
        height: 450px;
    }
}
@media(max-width:650px) {
    .img{
        height: 380px;
    }
    .activeImg {
        top:32%;
        height: 380px;
    }
}
@media(max-width:550px) {
    .img{
        height: 300px;
    }
    .activeImg {
        top:35%;
        height: 300px;
    }
}
@media(max-width:400px) {
    .img{
        height: 250px;
    }
    .activeImg {
        height: 250px;
    }
}